/*==============Defino las variables globales============*/
/*================Aplicando SASS en las secciones del archivo egresados.html========================*/
.seccionesEgresados {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.25rem;
  background-color: #252525;
  height: 100%;
  color: aliceblue; }
  .seccionesEgresados__titulo {
    font-size: 3rem;
    color: gold;
    margin: 2rem 1rem 2rem 1rem;
    animation-name: animacionTituloEgresados;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 3s; }

@keyframes animacionTituloEgresados {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .seccionesEgresados__parrafo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: justify;
    padding-bottom: 1rem; }
  .seccionesEgresados__lista {
    list-style: decimal-leading-zero;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-bottom: 2rem; }

/*==================Aplicando SASS en las secciones del archivo empresas.html========================*/
.tituloPrincipalEmpresas {
  color: #ffb731;
  padding: 1.5rem 1rem 2rem 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem; }

.empresa {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .empresa__division {
    display: inline-flex;
    padding: 1rem;
    align-items: center; }
    .empresa__division__imagen {
      height: 300px;
      width: 350px;
      transition: width 2s, height 2s; }
      .empresa__division__imagen:hover {
        width: 450px;
        height: 400px; }
    .empresa__division__descripcion {
      display: block;
      color: white;
      font-size: 1.5rem;
      padding: 1rem 1rem 1rem 1rem; }

@media (max-width: 576px) {
  .empresa__division {
    display: block; }
    .empresa__division__imagen {
      display: block;
      margin: 0 auto;
      width: 10rem;
      height: 15rem; }
      .empresa__division__imagen:hover {
        width: 12rem;
        height: 18rem; } }

/*======================Aplicando SASS en el footer de los archivos HTML=============================*/
.footer {
  display: table;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
  background-color: #23272c;
  width: 100%;
  margin: 0 auto; }
  .footer__tabla {
    margin: 0 auto; }
    .footer__tabla__seccion {
      padding: 0 0.75rem; }

#copyRight {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem; }

@media (max-width: 576px) {
  .footer {
    font-size: 0.6rem; } }
