/*==============Importo las variables del archivo parcial: _variables.scss========================*/

@import "./parciales/reset";
@import "./parciales/variables";
@import "./parciales/mixins";
@import "./parciales/responive";
@import "./parciales/maps";

/*========================Iconos de Redes, Logo y barra de  búsqueda================================*/

.divIconos{
    background-color: rgb(58, 57, 57);

    &__tabla{
        margin: 0 auto;

        &__iconoContacto{
            @include alto_y_ancho(7.5rem, 5rem);
        }
    }
}

.iconoPaginaWeb{
    @include alto_y_ancho(12rem, 12rem);
    margin: 0.25rem 1rem 0 1rem;
    transition: all 1.5s;
}

.iconoPaginaWeb:hover{
    @include alto_y_ancho(15rem, 15rem);
}

.cajaBusqueda{
    width: map-get($map: $varsCajaBusqueda, $key: 'ancho');
	border: map-get($map: $varsCajaBusqueda, $key: 'borde');
	border-radius: map-get($map: $varsCajaBusqueda, $key: 'bordeRadio');
	background-color: map-get($map: $varsCajaBusqueda, $key: 'colorFondo');
	display: map-get($map: $varsCajaBusqueda, $key: 'display');
    margin: map-get($map: $varsCajaBusqueda, $key: 'margin');
}

.submitBusqueda{
    display: inline-block;
    background: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: $colorWhite;
    border-radius: 0.5rem;

    &:hover {
        background: #d63031;
        transition: background-color 1s ease-out;
    }
}

@include movilHeader{
    .divIconos__tabla__iconoContacto{
        @include alto_y_ancho(4rem, 5rem);
    }
    .cajaBusqueda{
        display: map-get($map: $varsCajaBusqueda, $key: 'display');
        width: 10rem;
        margin: 1rem 1.5rem;
    }
    .submitBusqueda{
        display: map-get($map: $varsCajaBusqueda, $key: 'display');
        margin: 1rem 0.25rem;
    }
}

@include tabletHeader {
    .cajaBusqueda {
        width: 17rem;
    }
}

/*===========================Aplicando SASS en el NavBar de los HTMls===============================*/
.menu {
    text-align: center;
}

.menuContenedor {
    width: $width100;
}

.botonMenu {
    display: block;
    float: left;
    width: 90%;
    margin: 1rem;
}

.menu ul {
    list-style: none;
    margin: 0 auto;
}

.menu ul li {
    display: inline-flex;
    transition: all 0.5s ease;

    & a {
        color: $colorAliceBlue;
        font-size: 2rem;
        padding: 1rem;
    }
}

.menu ul li:hover {
    background-color: #d63031;
}

@include movilNavBar {
    .menu ul li {
        display: block;
        text-align: left;
        width: 90%;
        padding: 1rem 0;
    }
}

/*===================Aplicando SASS en las secciones del archivo index.html========================*/

.carousel{
    @include alto_y_ancho($width100, 45rem);

    &__imagenSlide{
        @include alto_y_ancho($width100, 45rem);
    }
}

.sectionIndex{
    color: $colorAliceBlue;
    margin: 2rem auto;
    font-size: 1.25rem;
}

.tituloSeccion{
    color: $colorGold;
    display: block;
    font-style: oblique;
    font-weight: lighter;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: initial;
    line-height: 2.75rem;
    padding: 1rem;
    margin: 1.5rem 1rem 2.5rem 1rem;
    animation-duration: 4s;
    animation-name: tituloPrincipal;
}

@keyframes tituloPrincipal{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.contenedorCards{
    margin: 0 auto;

    &__card {
        max-width: 30%;
        display: inline-flex;
        margin: 1rem;
    }
    &__titulo {
        font-size: 2rem;
        width: $width100;
        text-align: center;
        color: rgb(243, 24, 68)
    }
    &__parrafo {
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
    }
}

.contenedorLocutor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    &__card{
        width: 22rem;
        height: 35rem;
        border-radius: 1rem;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 1.25rem;
        text-align: center;
        background: linear-gradient(to right, rgb(46, 46, 46), rgb(68, 68, 68));
        color: $colorAzure;
        font-size: 1.25rem;
        padding: 1rem;

        &__imagen{
            margin: 1rem 0;
            width: 18rem;
            height: 16rem;
        }
        &__parrafo{
            font-size: 1rem;
            font-weight: 300;
            text-align: justify;
            font-family: 'Times New Roman', Times, serif;
        }
    }
}

.contenedorProyecto{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

    &__card{
        width: 40%;
        height: 42rem;
        border-radius: 1rem;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 1.25rem;
        text-align: center;
        background: linear-gradient(to right, rgb(46, 46, 46), rgb(68, 68, 68));
        color: $colorAzure;
        font-size: 1.5rem;
        padding: 1rem;

        &__imagen{
            margin: 1rem 0;
            width: $width100;
            height: 22rem;
        }
        &__parrafo{
            font-size: 1.25rem;
            font-weight: 300;
            text-align: justify;
        }
    }
}

.botonModal{
    background: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.botonModal:hover{
    background: #d63031;
    color: $colorWhite;
    transition: background-color 1s ease-out;
}

.modal-content{
    color: $colorAzure;
    background: rgb(42, 48, 54);
}

@media (max-width: 576px){
    .carousel{
        @include alto_y_ancho($width100, 32rem);
    
        &__imagenSlide{
            @include alto_y_ancho($width100, 32rem);
        }
    }
    .contenedorCards{
        margin: 0 auto;
    
        &__card {
            max-width: $width100;
        }
    }
    .tituloSeccion {
        text-align: center;
        line-height: 3rem;
    }
    .contenedorLocutor__card {
        width: 24rem;
        height: 35rem;

        &__imagen {
            width: 15rem;
        }
    }

    .contenedorProyecto__card {
        width: 24rem;
        height: 45rem;

        &__imagen {
            width: 15rem;
        }
    }
}

@media (min-width: 576px) and (max-width: 960px){
    .contenedorCards{
        margin: 0 auto;
    
        &__card {
            max-width: 42%;
        }
    }
    .contenedorLocutor__card {
        width: 40%;
        height: 40rem;

        &__imagen {
            width: 100%;
        }
    }
    .contenedorProyecto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
    .contenedorProyecto__card {
        display: flexbox;
        width: 42%;
        height: 50rem;

        &__imagen {
            width: $width100;
            height: 18rem;
        }
    }
}

@media (min-width: 960px) and (max-width: 1025px){
    .contenedorCards{
        margin: 0 auto;
    
        &__card {
            max-width: 45%;
        }
    }
    .contenedorProyecto {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
    }
    .contenedorProyecto__card {
        display: flexbox;
        width: 42%;

        &__imagen {
            width: $width100;
            height: 23rem;
        }
    }
}

/*================Aplicando SASS en las secciones del archivo contacto.html=========================*/

.contenidoContacto{
    box-sizing: border-box;
    background: #181818;
    color: $colorWhite;
    padding: 1rem;

    &__h1{
        text-align: center;
        font-size: 3em;
        padding-bottom: 1rem;
    }
    &__envoltura{
        box-shadow: 0 0 20px rgba(255, 255, 255, .3);
        padding: 1.5em;
        display: grid;
        grid-template-columns: 2fr 1fr;

        &__formulario{
            background-color: #222222;
        }
        &__formulario form p{
            margin: 0;
            padding: 1rem;
        }

        &__formulario form label{
            font-size: 1.4em;
        }

        &__formulario form button,
        &__formulario form input,
        &__formulario form textarea {
            width: $width100;
            font-size: 1.25em;
            padding: .7em;
            border: none;
            background: none;
            border: 2px solid #d63031;
            outline: none;
            color: $colorWhite;
        }

        &__formulario form button{
            background: #b70e21;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
            border-radius: 0.5rem;
        }
        &__formulario form button:hover{
            background: #d63031;
            color: $colorWhite;
            transition: background-color 1s ease-out;
        }

        &__info{
            padding: 1em;
            text-align: center;
            font-size: 1.25rem;
            margin: 0 0 1rem 0;
        }
        &__info ul{
            list-style: none;
            padding: 1.5rem;
        }
    }
}

.bloque{
    grid-column: 1/3;
}

@media (max-width: 576px){
    .contenidoContacto__envoltura{
        display: block;

        &__formulario form label{
            font-size: 1em;
        }
        &__formulario form button,
        &__formulario form input,
        &__formulario form textarea {
            font-size: 0.8em;
        }

        &__info{
            font-size: 1rem;
        }
    }
    #imagenHomero {
        width: 15rem;
    }
}

@media (min-width: 576px) and (max-width: 960px){
    .contenidoContacto__envoltura{
        display: block;

        &__info{
            font-size: 1.25rem;
        }
    }
}

/*================Aplicando SASS en las secciones del archivo profesionales.html====================*/

.nombreActor{
    color: $colorGold;
    margin: 2rem 0 2rem 1rem;
}

.cajaProfesional{
    display: inline-flex;
    align-items: center;
    margin: 1rem 1rem 3rem 1rem;
    background-color: rgb(34, 34, 34);

    &__imagen{
        padding: 1rem;
        @include alto_y_ancho(300px, 350px);
        transition: width 2s, height 2s;
    }
    &__imagen:hover{
        @include alto_y_ancho(350px, 400px);
    }
    &__datos{
        font-family: 'Times New Roman', Times, serif;
        padding: 1rem;

        &__resumen{
            color: $colorAzure;
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: justify;
            padding: 0 1rem 0 1rem;
        }
    }
}

.botonEnlace {
    background: #b70e21;
    border-color: $colorAliceBlue;

    & a {
        color: $colorWhite;
    }
    &:hover {
        background: #d63031;
        transition: background-color 1s ease-out;
    }
}

#listasDeLeto{
    display: inline-flex;
    padding: 2rem;
    margin: auto;
    font-size: 1rem;
}

#listasDeAdrian{
    display: inline-flex;
}

.listaPublicidades {
    list-style: none;
}

.listaPersonajes {
    list-style: none;
}

.iFrameProfesionales{
    width: 42%;
    height: 20rem;
    margin: 0.5rem 2rem;
}

.publicidadesPersonajes{
    color: $colorAzure;
    text-align: left;
    padding: 1rem;
    font-size: 1.4rem;
}

@each $claseDeLista in Publicidades, Personajes {
    .lista#{$claseDeLista}{
        color: $colorAzure;
        font-size: 1.2rem;
    }
}

@media (max-width: 576px){
    .cajaProfesional{
        display: block;
        max-width: 100%;

        &__imagen{
            display: flex;
            @include alto_y_ancho(16rem, 18rem);
            margin: 0 auto;
        }
        &__imagen:hover{
            @include alto_y_ancho(18rem, 20rem);
        }
    }
    .iFrameProfesionales {
        width: 95%;
        height: 12rem;
        margin: 0.5rem;
    }
    @each $locutor in Leto, Adrian {
        #listasDe#{$locutor}{
            display: inline;
        }   
    }
}

@media (min-width: 576px) and (max-width: 960px){
    .cajaProfesional{
        display: block;

        &__imagen{
            display: flex;
            @include alto_y_ancho(25rem, 26rem);
            margin: 0 auto;
        }
        &__imagen:hover{
            @include alto_y_ancho(27rem, 28rem);
        }
    }
    .iFrameProfesionales {
        width: 40%;
        height: 15rem;
        margin: 0.5rem 2rem;
    }
}

@media (min-width: 960px) and (max-width: 1025px){
    .cajaProfesional{
        display: inline-flex;
    }
    .iFrameProfesionales {
        width: 25rem;
        height: 20rem;
        margin: 0.5rem 2.5rem;
    }
}

/*=================Aplicando SASS en las secciones del archivo galería.html=========================*/

#nombreSeccionImagenes{
    color: $colorGold;
    margin: 2rem 0 2rem 1rem;
    animation-duration: 2.5s;
    animation-name: seccionImagenes;
}

@keyframes seccionImagenes{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.contenedorEstudio{
    margin: 2rem 1rem 3rem 1rem;
    padding: 1rem;
    background-color: rgb(43, 42, 42);
    display: inline-block; /*Este display es para rellenar el color del background*/

    &__caja{
        display: table-cell;

        &__imagen{
            @include alto_y_ancho(18rem, 15rem);
            display: block;
            transition: width 2s, height 2s;
            margin: auto;
        }
        &__imagen:hover{
            @include alto_y_ancho(21rem, 18rem);
        }
        &__nombre{
            color: rgb(243, 24, 68);
            font-size: 2rem;
            text-align: center;
            padding: 1.5rem 1rem 1.5rem 1rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        &__descripcion{
            color: $colorAzure;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            padding: 1rem 1rem 1rem 1rem;
        }
    }
}


.contenedorImagenesGaleria {
    display: flex;
    width: $width100;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 7px;

    & .contenedorImagenesGaleria__imagen {
        width: 30%;
        position: relative;
        height: 18rem;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
        margin: 1rem;
    }

    &__imagen img {
        width: $width100;
        height: $height100;
    }
    &__imagen__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(66, 66, 66, 0.781);
        width: $width100;
        height: 0;
        transition: 1s;
        overflow: hidden;


        & h2 {
            color: $colorAliceBlue;
            font-size: 2rem;
            font-weight: 300;
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
    }

    &__imagen:hover .contenedorImagenesGaleria__imagen__overlay{
        height: $height100;
        cursor: pointer;
    }
}

#nombreSeccionAudios{
    color: $colorGold;
    margin: 2rem 0 2rem 1rem;
    animation-duration: 2.5s;
    animation-name: seccionAudios;
}

@keyframes seccionAudios{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.contenedorAudios {
    background: linear-gradient(to right, rgb(36, 36, 36), rgb(0, 0, 95));
    margin: 1rem auto;
    padding: 1.25rem;
    width: 95%;

    &__contenido {
        display: inline-block;
        width: 32%;
        height: 22rem;

        &__titulo {
            color: $colorAliceBlue;
            text-align: center;
        }
        &__imagen {
            width: $width100;
            height: $height100;
            object-fit: cover;
            padding: 1rem;
        }
        &__audio {
            width: $width100;
            padding: 0 0.5rem;
            animation: jackInTheBox;
            animation-duration: 5s;
        }
        &__descripcion {
            color: $colorAliceBlue;
            padding-top: 1rem;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            font-size: 1.15rem;
        }
    }
}

#nombreSeccionVideos{
    color: $colorGold;
    margin: 2rem 0 2rem 1rem;
    animation-duration: 2.5s;
    animation-name: seccionVideos;
}

@keyframes seccionVideos{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.iFrameGaleria{
    padding: 1rem;
    width: 42%;
    height: 20rem;
    margin: 0.5rem 2rem;
}

@media (max-width: 576px){
    .contenedorEstudio{
        display: block;
    }
    .contenedorEstudio__caja{
        display: block;
    }
    .contenedorEstudio__caja__imagen{
        @include alto_y_ancho(85%, 12rem);
    }
    .contenedorEstudio__caja__imagen:hover{
        @include alto_y_ancho(95%, 15rem);
    }
    .contenedorImagenesGaleria {
        width: 95%;
    }
    .contenedorImagenesGaleria .contenedorImagenesGaleria__imagen {
        width: 90%;
    }
    .contenedorAudios {
        display: block;
        width: 90%;

        &__contenido {
            display: block !important;
            width: $width100 !important;
            height: $height100 !important;
            margin: 1rem 0 !important;
        }
    }
    .iFrameGaleria{
        width: 95%;
        height: 15rem;
        margin: 0.5rem 0.5rem;
    }
}

@media (min-width: 576px) and (max-width: 960px){
    .contenedorEstudio{
        display: block;
    }
    .contenedorEstudio__caja{
        display: block;

        &__imagen{
            @include alto_y_ancho(50%, 17rem);
        }
        &__imagen:hover{
            @include alto_y_ancho(70%, 20rem);
        }
    }
    .contenedorImagenesGaleria {
        width: 85%;
    }
    .contenedorImagenesGaleria .contenedorImagenesGaleria__imagen {
        width: 40%;
    }
    .contenedorAudios {
        display: block;
        width: 90%;

        &__contenido {
            display: block !important;
            width: $width100 !important;
            height: $height100 !important;
            margin: 1rem 0 !important;

            &__imagen {
                width: $width100;
                height: 38rem;
            }
        }
    }
    .iFrameGaleria {
        display: flex;
        width: 90%;
        height: 24rem;
        justify-content: center;
    }
}

@media (min-width: 960px) and (max-width: 1025px){
    .contenedorEstudio {
        display: block;
    }
    .contenedorEstudio__caja{
        display: block;

        &__imagen{
            @include alto_y_ancho(85%, 15rem);
        }
        &__imagen:hover{
            @include alto_y_ancho($width100, 18rem);
        }
    }
    .contenedorEstudio{
        display: inline-block;
    }
    .contenedorEstudio__caja{
        display: table-cell;
    }
}

/*================Aplicando SASS en las secciones del archivo egresados.html========================*/

.seccion{
    position: relative;
    width: $width100;
    height: 100vh;
    overflow: hidden;
}

.seccion .capa{
    width: 0%;
    height: 50vh;
    background-color: rgba(36, 32, 32, 0.8);
    position: absolute;
    top: 0;
    overflow: hidden;
    transition: 0.4s all;
}

.seccion:hover .capa{
    height: 100vh;
    width: $width100;
    color: $colorAliceBlue;
}

.seccion:hover .capa h3{
    text-align: center;
    padding: 5rem;
    font-size: 4rem;
}
.seccion:hover .capa p{
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.seccion:hover .capa ul{
    list-style: decimal-leading-zero;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem 1rem 1rem 5rem;
}

.seccion1{
    background: url(../../imagenes/control-room.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion2{
    background: url(../../imagenes/control-room-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.seccion3{
    background: url(../../imagenes/control-room-3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 576px){
    .seccion:hover .capa h3{
        padding: 1.25rem;
        font-size: 1.75rem;
    }
    .seccion:hover .capa p{
        padding: 1rem;
        font-size: 1.25rem;
    }
    .seccion:hover .capa ul{
        font-size: 1.25rem;
        line-height: 1.75rem;
        padding: 1rem 1rem 1rem 3rem;
    }
}
@media (min-width: 576px) and (max-width: 960px){
    .seccion {
        height: 60rem;
    }
    .seccion .capa {
        height: 60rem;
    }
    .seccion:hover .capa {
        height: 60rem;
    }
}

/*==================Aplicando SASS en las secciones del archivo empresas.html========================*/

.tituloPrincipalEmpresas{
    color: $colorGold;
    margin: 2rem 0 2rem 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.dark {
	background-color: #1a1a1a;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #222222;
	}
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 2rem;
  }

  .postcard__img {
    width: 100%;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25rem;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media (max-width: 576px) {
    .postcard__img {
        width: 10rem;
        height: 20rem;
    }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #222222;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1025px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #222222;
		}
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: $main-green;
	color: black;
}
.green .postcard__title:hover {
	color: $main-green;
}
.green .postcard__bar {
	background-color: $main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		$main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: $main-red;
}
.red .postcard__title:hover {
	color: $main-red;
}
.red .postcard__bar {
	background-color: $main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: $main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: $main-yellow;
}
.yellow .postcard__bar {
	background-color: $main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	}
	
	.yellow::before {
		background-image: linear-gradient(
			-80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
}

/*======================Aplicando SASS en el footer de los archivos HTML=============================*/

.footer{
    display: table;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: $colorWhite;
    background-color: rgb(35, 39, 44);
    width: $width100;
    margin: 0 auto;

    &__tabla{
        margin: 0 auto;

        &__subtitulo {
            text-align: center;
        }
        &__seccion{
            padding: 0 2.5rem;
            text-align: center;
        }
        & ul {
            list-style: none;
        }
    }
}
#copyRight{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

@include movilFooter{
    .footer{
        margin: 0 auto;

        &__tabla__subtitulo {
            font-size: 0.55rem;
            text-align: center;
        }
        &__tabla__seccion {
            text-align: center;
            font-size: 0.5rem;
        }
        &__tabla__seccion ul li img{
            display: block;
            margin: 0 auto;
        }
    }
}

@include tabletFooter{
    .footer{

        &__tabla__seccion{
            padding: 0 0.5rem;
        }
    }
}

@include netbookFooter{
    .footer{

        &__tabla__seccion{
            padding: 0 1.5rem;
        }
    }
}