@charset "UTF-8";
/*==============Importo las variables del archivo parcial: _variables.scss========================*/
/*=============CSS de Inicio para los HTMLs===============*/
* {
  margin: 0;
}

body {
  background-image: url(../../fondos/Fondo_5.png);
}

/*====================Variables para el main.scss===========================*/
/*====================Variables para el main.scss===========================*/
/*=================================Defino los Mixins a usar========================================*/
/*========================Iconos de Redes, Logo y barra de  búsqueda================================*/
.divIconos {
  background-color: #3a3939;
}
.divIconos__tabla {
  margin: 0 auto;
}
.divIconos__tabla__iconoContacto {
  width: 7.5rem;
  height: 5rem;
}

.iconoPaginaWeb {
  width: 12rem;
  height: 12rem;
  margin: 0.25rem 1rem 0 1rem;
  transition: all 1.5s;
}

.iconoPaginaWeb:hover {
  width: 15rem;
  height: 15rem;
}

.cajaBusqueda {
  width: 25rem;
  border: 0.25rem solid #f6f6f6;
  border-radius: 1rem;
  background-color: #f6f6f6;
  display: inline-block;
  margin: 0 1rem 0 3rem;
}

.submitBusqueda {
  display: inline-block;
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.5rem;
}
.submitBusqueda:hover {
  background: #d63031;
  transition: background-color 1s ease-out;
}

@media (max-width: 576px) {
  .divIconos__tabla__iconoContacto {
    width: 4rem;
    height: 5rem;
  }

  .cajaBusqueda {
    display: inline-block;
    width: 10rem;
    margin: 1rem 1.5rem;
  }

  .submitBusqueda {
    display: inline-block;
    margin: 1rem 0.25rem;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .cajaBusqueda {
    width: 17rem;
  }
}
/*===========================Aplicando SASS en el NavBar de los HTMls===============================*/
.menu {
  text-align: center;
}

.menuContenedor {
  width: 100%;
  margin: 0 auto;
}

.botonMenu {
  display: block;
}

.menu ul {
  list-style: none;
  margin: 0 auto;
}

.menu ul li {
  display: inline-flex;
  transition: all 0.5s ease;
}
.menu ul li a {
  color: aliceblue;
  font-size: 2rem;
  padding: 1rem;
}

.menu ul li:hover {
  background-color: #d63031;
}

.subMenuNav {
  text-align: center;
}
.subMenuNav li {
  width: 100%;
}
.subMenuNav li a {
  width: 100%;
}

@media (max-width: 576px) {
  .menu {
    max-width: 100%;
  }

  .menu ul li {
    width: 90%;
    padding: 1rem 0;
  }
  .menu ul li a {
    font-size: 1.3rem;
  }

  .botonMenu {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 330px) {
  /*Este media querie es para moviles con ancho de pantalla de hasta 330px*/
  .menu {
    max-width: 100%;
  }

  .menu ul li a {
    font-size: 1rem;
  }
}
/*===================Aplicando SASS en las secciones del archivo index.html========================*/
.carousel {
  width: 100%;
  height: 45rem;
}
.carousel__imagenSlide {
  width: 100%;
  height: 45rem;
}
.carousel__slideTexto {
  background-color: rgba(0, 0, 0, 0.7);
}
.carousel__slideTexto h5 {
  font-size: 2rem;
}
.carousel__slideTexto p {
  font-size: 1.5rem;
}

.sectionIndex {
  color: aliceblue;
  margin: 2rem auto;
  font-size: 1.25rem;
}

.tituloSeccion {
  color: gold;
  display: block;
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
  text-align: initial;
  line-height: 2.75rem;
  padding: 1rem;
  margin: 1.5rem 1rem 2.5rem 1rem;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: tituloPrincipal;
          animation-name: tituloPrincipal;
}

@-webkit-keyframes tituloPrincipal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tituloPrincipal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contenedorCards {
  margin: 0 auto;
}
.contenedorCards__card {
  max-width: 30%;
  display: inline-flex;
  margin: 1rem;
}
.contenedorCards__titulo {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: #f31844;
}
.contenedorCards__parrafo {
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
}

.contenedorLocutor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.contenedorLocutor__card {
  width: 22rem;
  height: 35rem;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.25rem;
  text-align: center;
  background: linear-gradient(to right, #2e2e2e, #444444);
  color: azure;
  font-size: 1.25rem;
  padding: 1rem;
}
.contenedorLocutor__card__imagen {
  margin: 1rem 0;
  width: 18rem;
  height: 16rem;
}
.contenedorLocutor__card__parrafo {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

.contenedorProyecto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.contenedorProyecto__card {
  width: 40%;
  height: 42rem;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.25rem;
  text-align: center;
  background: linear-gradient(to right, #2e2e2e, #444444);
  color: azure;
  font-size: 1.5rem;
  padding: 1rem;
}
.contenedorProyecto__card__imagen {
  margin: 1rem 0;
  width: 100%;
  height: 22rem;
}
.contenedorProyecto__card__parrafo {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
}

.botonModal {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.botonModal:hover {
  background: #d63031;
  color: white;
  transition: background-color 1s ease-out;
}

.modal-content {
  color: azure;
  background: #2a3036;
}

@media (max-width: 576px) {
  .carousel {
    width: 100%;
    height: 32rem;
  }
  .carousel__imagenSlide {
    width: 100%;
    height: 32rem;
  }
  .carousel__slideTexto h5 {
    font-size: 1.4rem;
  }
  .carousel__slideTexto p {
    font-size: 1rem;
  }

  .contenedorCards {
    margin: 0 auto;
  }
  .contenedorCards__card {
    max-width: 100%;
  }

  .tituloSeccion {
    text-align: center;
    line-height: 3rem;
  }

  .contenedorLocutor__card {
    width: 24rem;
    height: 35rem;
  }
  .contenedorLocutor__card__imagen {
    width: 15rem;
  }

  .contenedorProyecto__card {
    width: 24rem;
    height: 49rem;
  }
  .contenedorProyecto__card__imagen {
    width: 15rem;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .contenedorCards {
    margin: 0 auto;
  }
  .contenedorCards__card {
    max-width: 42%;
  }

  .contenedorLocutor__card {
    width: 40%;
    height: 40rem;
  }
  .contenedorLocutor__card__imagen {
    width: 100%;
  }

  .contenedorProyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }

  .contenedorProyecto__card {
    display: flexbox;
    width: 42%;
    height: 50rem;
  }
  .contenedorProyecto__card__imagen {
    width: 100%;
    height: 18rem;
  }
}
@media (min-width: 960px) and (max-width: 1025px) {
  .contenedorCards {
    margin: 0 auto;
  }
  .contenedorCards__card {
    max-width: 45%;
  }

  .contenedorProyecto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }

  .contenedorProyecto__card {
    display: flexbox;
    width: 42%;
  }
  .contenedorProyecto__card__imagen {
    width: 100%;
    height: 23rem;
  }
}
/*================Aplicando SASS en las secciones del archivo contacto.html=========================*/
.contenidoContacto {
  box-sizing: border-box;
  background: #181818;
  color: white;
  padding: 1rem;
}
.contenidoContacto__h1 {
  text-align: center;
  font-size: 3em;
  padding-bottom: 1rem;
}
.contenidoContacto__envoltura {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  padding: 1.5em;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.contenidoContacto__envoltura__formulario {
  background-color: #222222;
}
.contenidoContacto__envoltura__formulario form p {
  margin: 0;
  padding: 1rem;
}
.contenidoContacto__envoltura__formulario form label {
  font-size: 1.4em;
}
.contenidoContacto__envoltura__formulario form button, .contenidoContacto__envoltura__formulario form input, .contenidoContacto__envoltura__formulario form textarea {
  width: 100%;
  font-size: 1.25em;
  padding: 0.7em;
  border: none;
  background: none;
  border: 2px solid #d63031;
  outline: none;
  color: white;
}
.contenidoContacto__envoltura__formulario form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 0.5rem;
}
.contenidoContacto__envoltura__formulario form button:hover {
  background: #d63031;
  color: white;
  transition: background-color 1s ease-out;
}
.contenidoContacto__envoltura__info {
  padding: 1em;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}
.contenidoContacto__envoltura__info ul {
  list-style: none;
  padding: 1.5rem;
}

.bloque {
  grid-column: 1/3;
}

@media (max-width: 576px) {
  .contenidoContacto__envoltura {
    display: block;
  }
  .contenidoContacto__envoltura__formulario form label {
    font-size: 1em;
  }
  .contenidoContacto__envoltura__formulario form button, .contenidoContacto__envoltura__formulario form input, .contenidoContacto__envoltura__formulario form textarea {
    font-size: 0.8em;
  }
  .contenidoContacto__envoltura__info {
    font-size: 1rem;
  }

  #imagenHomero {
    width: 15rem;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .contenidoContacto__envoltura {
    display: block;
  }
  .contenidoContacto__envoltura__info {
    font-size: 1.25rem;
  }
}
/*================Aplicando SASS en las secciones del archivo profesionales.html====================*/
.nombreActor {
  color: gold;
  margin: 2rem 0 2rem 1rem;
}

.cajaProfesional {
  display: inline-flex;
  align-items: center;
  margin: 1rem 1rem 3rem 1rem;
  background-color: #222222;
}
.cajaProfesional__imagen {
  padding: 1rem;
  width: 300px;
  height: 350px;
  transition: width 2s, height 2s;
}
.cajaProfesional__imagen:hover {
  width: 350px;
  height: 400px;
}
.cajaProfesional__datos {
  font-family: "Times New Roman", Times, serif;
  padding: 1rem;
}
.cajaProfesional__datos__resumen {
  color: azure;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
  padding: 0 1rem 0 1rem;
}

.botonEnlace {
  background: #b70e21;
  border-color: aliceblue;
}
.botonEnlace a {
  color: white;
}
.botonEnlace:hover {
  background: #d63031;
  transition: background-color 1s ease-out;
}

#listasDeLeto {
  display: inline-flex;
  padding: 2rem;
  margin: auto;
  font-size: 1rem;
}

#listasDeAdrian {
  display: inline-flex;
}

.listaPublicidades {
  list-style: none;
}

.listaPersonajes {
  list-style: none;
}

.iFrameProfesionales {
  width: 42%;
  height: 20rem;
  margin: 0.5rem 2rem;
}

.publicidadesPersonajes {
  color: azure;
  text-align: left;
  padding: 1rem;
  font-size: 1.4rem;
}

.listaPublicidades {
  color: azure;
  font-size: 1.2rem;
}

.listaPersonajes {
  color: azure;
  font-size: 1.2rem;
}

@media (max-width: 576px) {
  .cajaProfesional {
    display: block;
    max-width: 100%;
  }
  .cajaProfesional__imagen {
    display: flex;
    width: 16rem;
    height: 18rem;
    margin: 0 auto;
  }
  .cajaProfesional__imagen:hover {
    width: 18rem;
    height: 20rem;
  }

  .iFrameProfesionales {
    width: 95%;
    height: 12rem;
    margin: 0.5rem;
  }

  #listasDeLeto {
    display: inline;
  }

  #listasDeAdrian {
    display: inline;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .cajaProfesional {
    display: block;
  }
  .cajaProfesional__imagen {
    display: flex;
    width: 25rem;
    height: 26rem;
    margin: 0 auto;
  }
  .cajaProfesional__imagen:hover {
    width: 27rem;
    height: 28rem;
  }

  .iFrameProfesionales {
    width: 40%;
    height: 15rem;
    margin: 0.5rem 2rem;
  }
}
@media (min-width: 960px) and (max-width: 1025px) {
  .cajaProfesional {
    display: inline-flex;
  }

  .iFrameProfesionales {
    width: 25rem;
    height: 20rem;
    margin: 0.5rem 2.5rem;
  }
}
/*=================Aplicando SASS en las secciones del archivo galería.html=========================*/
#nombreSeccionImagenes {
  color: gold;
  margin: 2rem 0 2rem 1rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: seccionImagenes;
          animation-name: seccionImagenes;
}

@-webkit-keyframes seccionImagenes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes seccionImagenes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contenedorEstudio {
  margin: 2rem 1rem 3rem 1rem;
  padding: 1rem;
  background-color: #2b2a2a;
  display: inline-block;
  /*Este display es para rellenar el color del background*/
}
.contenedorEstudio__caja {
  display: table-cell;
}
.contenedorEstudio__caja__imagen {
  width: 18rem;
  height: 15rem;
  display: block;
  transition: width 2s, height 2s;
  margin: auto;
}
.contenedorEstudio__caja__imagen:hover {
  width: 21rem;
  height: 18rem;
}
.contenedorEstudio__caja__nombre {
  color: #f31844;
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.contenedorEstudio__caja__descripcion {
  color: azure;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
}

.contenedorImagenesGaleria {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 7px;
}
.contenedorImagenesGaleria .contenedorImagenesGaleria__imagen {
  width: 30%;
  position: relative;
  height: 18rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin: 1rem;
}
.contenedorImagenesGaleria__imagen img {
  width: 100%;
  height: 100%;
}
.contenedorImagenesGaleria__imagen__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.781);
  width: 100%;
  height: 0;
  transition: 1s;
  overflow: hidden;
}
.contenedorImagenesGaleria__imagen__overlay h2 {
  color: aliceblue;
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.contenedorImagenesGaleria__imagen:hover .contenedorImagenesGaleria__imagen__overlay {
  height: 100%;
  cursor: pointer;
}

#nombreSeccionAudios {
  color: gold;
  margin: 2rem 0 2rem 1rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: seccionAudios;
          animation-name: seccionAudios;
}

@-webkit-keyframes seccionAudios {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes seccionAudios {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contenedorAudios {
  background: linear-gradient(to right, #242424, #00005f);
  margin: 1rem auto;
  padding: 1.25rem;
  width: 95%;
}
.contenedorAudios__contenido {
  display: inline-block;
  width: 32%;
  height: 22rem;
}
.contenedorAudios__contenido__titulo {
  color: aliceblue;
  text-align: center;
}
.contenedorAudios__contenido__imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
}
.contenedorAudios__contenido__audio {
  width: 100%;
  padding: 0 0.5rem;
  -webkit-animation: jackInTheBox;
          animation: jackInTheBox;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
.contenedorAudios__contenido__descripcion {
  color: aliceblue;
  padding-top: 1rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 1.15rem;
}

#nombreSeccionVideos {
  color: gold;
  margin: 2rem 0 2rem 1rem;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: seccionVideos;
          animation-name: seccionVideos;
}

@-webkit-keyframes seccionVideos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes seccionVideos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.iFrameGaleria {
  padding: 1rem;
  width: 42%;
  height: 20rem;
  margin: 0.5rem 2rem;
}

@media (max-width: 576px) {
  .contenedorEstudio {
    display: block;
  }

  .contenedorEstudio__caja {
    display: block;
  }

  .contenedorEstudio__caja__imagen {
    width: 85%;
    height: 12rem;
  }

  .contenedorEstudio__caja__imagen:hover {
    width: 95%;
    height: 15rem;
  }

  .contenedorImagenesGaleria {
    width: 95%;
  }

  .contenedorImagenesGaleria .contenedorImagenesGaleria__imagen {
    width: 90%;
  }

  .contenedorAudios {
    display: block;
    width: 90%;
  }
  .contenedorAudios__contenido {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    margin: 1rem 0 !important;
  }

  .iFrameGaleria {
    width: 95%;
    height: 15rem;
    margin: 0.5rem 0.5rem;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .contenedorEstudio {
    display: block;
  }

  .contenedorEstudio__caja {
    display: block;
  }
  .contenedorEstudio__caja__imagen {
    width: 50%;
    height: 17rem;
  }
  .contenedorEstudio__caja__imagen:hover {
    width: 70%;
    height: 20rem;
  }

  .contenedorImagenesGaleria {
    width: 85%;
  }

  .contenedorImagenesGaleria .contenedorImagenesGaleria__imagen {
    width: 40%;
  }

  .contenedorAudios {
    display: block;
    width: 90%;
  }
  .contenedorAudios__contenido {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    margin: 1rem 0 !important;
  }
  .contenedorAudios__contenido__imagen {
    width: 100%;
    height: 38rem;
  }

  .iFrameGaleria {
    display: flex;
    width: 90%;
    height: 24rem;
    justify-content: center;
  }
}
@media (min-width: 960px) and (max-width: 1025px) {
  .contenedorEstudio {
    display: block;
  }

  .contenedorEstudio__caja {
    display: block;
  }
  .contenedorEstudio__caja__imagen {
    width: 85%;
    height: 15rem;
  }
  .contenedorEstudio__caja__imagen:hover {
    width: 100%;
    height: 18rem;
  }

  .contenedorEstudio {
    display: inline-block;
  }

  .contenedorEstudio__caja {
    display: table-cell;
  }
}
/*================Aplicando SASS en las secciones del archivo egresados.html========================*/
.seccion {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.seccion .capa {
  width: 0%;
  height: 50vh;
  background-color: rgba(36, 32, 32, 0.8);
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: 0.4s all;
}

.seccion:hover .capa {
  height: 100vh;
  width: 100%;
  color: aliceblue;
}

.seccion:hover .capa h3 {
  text-align: center;
  padding: 5rem;
  font-size: 4rem;
}

.seccion:hover .capa p {
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.seccion:hover .capa ul {
  list-style: decimal-leading-zero;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem 1rem 1rem 5rem;
}

.seccion1 {
  background: url(../../imagenes/control-room.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seccion2 {
  background: url(../../imagenes/control-room-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.seccion3 {
  background: url(../../imagenes/control-room-3.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .seccion:hover .capa h3 {
    padding: 1.25rem;
    font-size: 1.75rem;
  }

  .seccion:hover .capa p {
    padding: 1rem;
    font-size: 1.25rem;
  }

  .seccion:hover .capa ul {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 1rem 1rem 1rem 3rem;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .seccion {
    height: 60rem;
  }

  .seccion .capa {
    height: 60rem;
  }

  .seccion:hover .capa {
    height: 60rem;
  }
}
/*==================Aplicando SASS en las secciones del archivo empresas.html========================*/
.tituloPrincipalEmpresas {
  color: gold;
  margin: 2rem 0 2rem 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
}

.dark {
  background-color: #1a1a1a;
}

a, a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
}
.postcard.dark {
  background-color: #222222;
}
.postcard .t-dark {
  color: #18151f;
}
.postcard a {
  color: inherit;
}
.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 2rem;
}
.postcard .postcard__img {
  width: 100%;
  position: relative;
}
.postcard .postcard__img_link {
  display: contents;
}
.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background-color 0.3s;
}
.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}
.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}
.postcard:hover .postcard__bar {
  width: 100px;
}

@media (max-width: 576px) {
  .postcard__img {
    width: 10rem;
    height: 20rem;
  }
}
@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #222222;
    top: -20%;
    height: 130%;
    width: 55px;
  }
  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}
@media screen and (min-width: 1025px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #222222;
  }
}
/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: #79dd09;
  color: black;
}

.green .postcard__title:hover {
  color: #79dd09;
}

.green .postcard__bar {
  background-color: #79dd09;
}

.green::before {
  background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
  background: #0076bd;
}

.blue .postcard__title:hover {
  color: #0076bd;
}

.blue .postcard__bar {
  background-color: #0076bd;
}

.blue::before {
  background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: #bd150b;
}

.red .postcard__title:hover {
  color: #bd150b;
}

.red .postcard__bar {
  background-color: #bd150b;
}

.red::before {
  background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: #bdbb49;
  color: black;
}

.yellow .postcard__title:hover {
  color: #bdbb49;
}

.yellow .postcard__bar {
  background-color: #bdbb49;
}

.yellow::before {
  background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green::before {
    background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }

  .blue::before {
    background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .blue:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }

  .red::before {
    background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }

  .yellow::before {
    background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
}
/*======================Aplicando SASS en el footer de los archivos HTML=============================*/
.footer {
  display: table;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: white;
  background-color: #23272c;
  width: 100%;
  margin: 0 auto;
}
.footer__tabla {
  margin: 0 auto;
}
.footer__tabla__subtitulo {
  text-align: center;
}
.footer__tabla__seccion {
  padding: 0 2.5rem;
  text-align: center;
}
.footer__tabla ul {
  list-style: none;
}

#copyRight {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 576px) {
  .footer {
    margin: 0 auto;
  }
  .footer__tabla__subtitulo {
    font-size: 0.55rem;
    text-align: center;
  }
  .footer__tabla__seccion {
    padding: 0 0.5rem;
    text-align: center;
    font-size: 0.5rem;
  }
  .footer__tabla__seccion ul li img {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 576px) and (max-width: 960px) {
  .footer__tabla__seccion {
    padding: 0 0.5rem;
  }
}
@media (min-width: 960px) and (max-width: 1025px) {
  .footer__tabla__seccion {
    padding: 0 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */